<div class="container-fluid bg-dark">
    <div class="container">
        <div class="row justify-content-center animate__animated animate__fadeIn">
            <div class="col-md-6 align-self-center">
                <h2 class="text-center text-light">Contactame!!</h2>
                <form [formGroup]="contactoForm" autocomplete="off" (ngSubmit)="enviarContacto()">
                    <div class="mb-3 w-50">
                    <label for="exampleInputEmail1" class="form-label text-info">Correo electronico</label>
                    <input type="email" class="form-control animate__animated animate__swing" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo electronico..." formControlName="email">
                    <span class="text-danger" *ngIf="campoNoValido('email')"><i class="fa fa-info-circle" aria-hidden="true"></i> El correo no es valido </span>
                    </div>
                    <div class="mb-3 w-75">
                    <label for="exampleInputPassword1" class="form-label text-info">Telefono</label>
                    <input type="number" class="form-control animate__animated animate__swing" id="exampleInputPassword1" placeholder="Ingresa tu telefono"  formControlName="telefono" [class.is-invalid]="campoNoValido('telefono')">
                    <span class="text-danger" *ngIf="campoNoValido('telefono')"><i class="fa fa-info-circle" aria-hidden="true"></i> Minimo 10 numeros </span>
                    </div>
                    <div class="mb-3">
                        <textarea cols="75" rows="5" class="form-control animate__animated animate__swing" formControlName="comentario" placeholder="Quieres añadir un comentario?"></textarea>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <span class="text-danger" *ngIf="campoNoValido('pais')"><i class="fa fa-info-circle" aria-hidden="true"></i> el pais no coincide </span>
                                <label for="exampleInputPassword1" class="form-label text-info">Pais</label>
                                <ng-select placeholder="Seleccione su pais.." class="animate__animated animate__swing"  formControlName="pais">
                                    <ng-option *ngFor="let itemPais of pais" [value]="itemPais.alpha3Code">{{itemPais.name}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 align-self-center">
                            <button type="submit" class="animate__animated animate__swing" [disabled]="contactoForm.invalid" class="btn btn-primary btn-block">Enviar contacto</button>
                        </div>
                    </div>
                </form>    
            </div>
            <div class="col-md-6 align-self-center text-center text-white">
                <img src="./assets/img/contacto.svg" alt="" class="img-fluid animate__animated animate__fadeInRight">
                <div class="mt-2 animate__animated animate__fadeInRight">
                    <h4>Herramientas utilizadas para crear este portafolio</h4>
                    <img src="./assets/img/angular.svg" alt="Angular" class="img-fluid img-sm mr-3">
                    <img src="./assets/img/bootstrap.svg" alt="Bootstrap" class="img-fluid mr-3" height="40px" width="40px">
                    <img src="./assets/img/mongodb.svg" alt="Angular" class="img-fluid img-sm mr-3">
                </div>
                <div class="mt-2 mb-5 animate__animated animate__fadeInRight">
                    <h5>Consulta mi perfil de youtube</h5>
                    <span class="icon-md">
                        <a href="https://www.youtube.com/channel/UCX9dvS2HLu6a2dSWPSJAnjw/featured" class=" text-danger">
                            <i class="fab fa-youtube "></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>