<!--Menu Principla-->
<nav class="navbar navbar-expand-lg navbar-dark bg-purple text-center p-2">
    <div class="container-fluid">
        <!--Responsive-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Contenedor menu-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item text-center" *ngFor="let itemMenu of menu">
            <a class="nav-link text-ligth" aria-current="page" [routerLink]="itemMenu.url" routerLinkActive="active" >{{itemMenu.titulo}}</a>
          </li>
        </ul>
      </div>
    </div>
</nav>